body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 350px;
  height: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
    background-color: #345fd4;
    color: white;
    margin-top: 20px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

#strengthMessage {
  margin-top: 15px;
  font-weight: bold;
}