body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background-color: salmon;
}

img {
    position: absolute;
    top: 80px;
    left: 50%;
    width: 250px;
    height: 150px;
    z-index: 2;
    transform: translateX(-50%);
}

.clock-container {
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: rgb(148, 144, 144);
    border-radius: 100%;
    border: 5px solid rgb(76, 76, 76);
    box-shadow: 1px 1px 4px rgba(0,0,0,.7);
    position: relative;
}

.numbers div {
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    color: lightgoldenrodyellow;
    text-shadow: 1px 1px 2px rgba(0,0,0,.7);
}

.twelve {
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
}

.three {
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
}
  
.six {
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
}
  
.nine {
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
}
  
.arrows {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrows::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: darkgreen;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0,0,0,.7);
    z-index: 4;
}
  
.arrows div {
    width: 7px;
    height: 140px;
    background-color: white;
    position: absolute;
    bottom: 50%;
    box-shadow: 1px 1px 2px rgba(0,0,0,.7);
    border-radius: 50% 50% 0 0;
    transform-origin: bottom center;
    z-index: 3;
}
  
.arrows .hour {
    height: 80px;
    transform: rotate(30deg);
}
 
.arrows .second {
    background-color: goldenrod;
    transform: rotate(250deg);
    width: 5px;
    height: 120px;
}